In [1]:
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data

--2019-02-27 18:50:25--  https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.249
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.249|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19889 (19K) [text/plain]
Saving to: ‘breast-cancer-wisconsin.data’

breast-cancer-wisco 100%[=====================>]  19.42K  --.-KB/s   in 0.07s

2019-02-27 18:50:25 (288 KB/s) - ‘breast-cancer-wisconsin.data’ saved [19889/19889]

In [2]:
import numpy as np
import pandas as pd 

import matplotlib.pyplot as plt

7. Attribute Information: (class attribute has been moved to last column)

   #  Attribute                     Domain
   -- -----------------------------------------
   1. Sample code number            id number
   2. Clump Thickness               1 - 10
   3. Uniformity of Cell Size       1 - 10
   4. Uniformity of Cell Shape      1 - 10
   5. Marginal Adhesion             1 - 10
   6. Single Epithelial Cell Size   1 - 10
   7. Bare Nuclei                   1 - 10
   8. Bland Chromatin               1 - 10
   9. Normal Nucleoli               1 - 10
  10. Mitoses                       1 - 10
  11. Class:                        (2 for benign, 4 for malignant)

In [3]:
col_names = ["id number" , "lump Thickness" , "Uniformity of Cell Size" , "Uniformity of Cell Shape" , "Marginal Adhesion" , "Single Epithelial Cell Size" , 
            "Bare Nuclei" , "Bland Chromatin" , "Normal Nucleoli" , "Mitoses" , "Class"]


Data = pd.read_csv("breast-cancer-wisconsin.data" , sep = "," , names = col_names)

Data.head()

,id number,lump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [4]:
print(set(Data['Class']))

{2, 4}

we need to predict whether the breast cancer is 2 or 4 , i.e.., its a binary classification

(2 for benign, 4 for malignant)

In [5]:
# There's no use of id number , so lets remove that 

col_names = list(Data.columns)  # get all column names as list 

col_names.remove("id number")  # remove id number from list we've got 

Data = Data[col_names]  # create Data with new columns , which doesn't have id number

Data.head()

,lump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2

In [6]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
lump Thickness                 699 non-null int64
Uniformity of Cell Size        699 non-null int64
Uniformity of Cell Shape       699 non-null int64
Marginal Adhesion              699 non-null int64
Single Epithelial Cell Size    699 non-null int64
Bare Nuclei                    699 non-null object
Bland Chromatin                699 non-null int64
Normal Nucleoli                699 non-null int64
Mitoses                        699 non-null int64
Class                          699 non-null int64
dtypes: int64(9), object(1)
memory usage: 54.7+ KB

In [7]:
Data.describe()

,lump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bland Chromatin,Normal Nucleoli,Mitoses,Class
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [8]:
Data.isna().any()

lump Thickness                 False
Uniformity of Cell Size        False
Uniformity of Cell Shape       False
Marginal Adhesion              False
Single Epithelial Cell Size    False
Bare Nuclei                    False
Bland Chromatin                False
Normal Nucleoli                False
Mitoses                        False
Class                          False
dtype: bool

In [10]:
Data.isnull().any()

lump Thickness                 False
Uniformity of Cell Size        False
Uniformity of Cell Shape       False
Marginal Adhesion              False
Single Epithelial Cell Size    False
Bare Nuclei                    False
Bland Chromatin                False
Normal Nucleoli                False
Mitoses                        False
Class                          False
dtype: bool

In [13]:
# Bare nuclei column is said to be object (string) lets convert it into int 

print(set(Data["Bare Nuclei"]))

{'10', '?', '5', '3', '2', '7', '4', '1', '9', '8', '6'}

In [14]:
# so there's a "?" in Data["Bare Nuclei"]

Data["Bare Nuclei"].replace('?', '0', inplace=True)
Data["Bare Nuclei"] = Data["Bare Nuclei"].astype(np.int32)
Data["Bare Nuclei"].replace(0, Data["Bare Nuclei"].mean(), inplace=True)

In [15]:
Data.head()

,lump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1.0,3,1,1,2
1,5,4,4,5,7,10.0,3,2,1,2
2,3,1,1,1,2,2.0,3,1,1,2
3,6,8,8,1,3,4.0,3,7,1,2
4,4,1,1,3,2,1.0,3,1,1,2

In [16]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 699 entries, 0 to 698
Data columns (total 10 columns):
lump Thickness                 699 non-null int64
Uniformity of Cell Size        699 non-null int64
Uniformity of Cell Shape       699 non-null int64
Marginal Adhesion              699 non-null int64
Single Epithelial Cell Size    699 non-null int64
Bare Nuclei                    699 non-null float64
Bland Chromatin                699 non-null int64
Normal Nucleoli                699 non-null int64
Mitoses                        699 non-null int64
Class                          699 non-null int64
dtypes: float64(1), int64(9)
memory usage: 54.7 KB

In [17]:
# Now all values are int or float . we're good to go

Building Feature sets

In [18]:
X = Data.iloc[:,:-1].values.astype(np.float32)
Y = Data.iloc[:,-1].values.astype(np.int32)

Splitting into Training and Testing

In [19]:
from sklearn.model_selection import train_test_split 

Xtrain , Xtest , Ytrain , Ytest = train_test_split(X , Y , test_size = 0.25 , random_state = 100)

Standardizing the data

In [20]:
from sklearn.preprocessing import StandardScaler 

Scale = StandardScaler()

Xtrain = Scale.fit_transform(Xtrain)
Xtest = Scale.transform(Xtest)

Building model

using Rbf kernel

In [21]:
from sklearn.svm import SVC 

model = SVC(C=1.0 , kernel='rbf')

model.fit(Xtrain , Ytrain)

Ypred = model.predict(Xtest)

print(" Accuracy : " , model.score(Xtest , Ytest))

 Accuracy :  0.9485714285714286

using Linear kernel

In [22]:
from sklearn.svm import SVC 

model = SVC(C=1.0 , kernel='linear')

model.fit(Xtrain , Ytrain)

Ypred = model.predict(Xtest)

print(" Accuracy : " , model.score(Xtest , Ytest))

 Accuracy :  0.9371428571428572

we could see , at C = 1 . rbf kernel works better than linear in this case

Best C for Linear

In [23]:
for c in range(1,11):
    model = SVC(C=1.0 , kernel='linear')
    model.fit(Xtrain , Ytrain)
    print(" Accuracy at C : " , c , model.score(Xtest , Ytest))

 Accuracy at C :  1 0.9371428571428572
 Accuracy at C :  2 0.9371428571428572
 Accuracy at C :  3 0.9371428571428572
 Accuracy at C :  4 0.9371428571428572
 Accuracy at C :  5 0.9371428571428572
 Accuracy at C :  6 0.9371428571428572
 Accuracy at C :  7 0.9371428571428572
 Accuracy at C :  8 0.9371428571428572
 Accuracy at C :  9 0.9371428571428572
 Accuracy at C :  10 0.9371428571428572

Linear kernel had no improvement from 93.7

Best C for Rbf

In [24]:
for c in range(1,11):
    model = SVC(C=1.0 , kernel='rbf')
    model.fit(Xtrain , Ytrain)
    print(" Accuracy at C : " , c , model.score(Xtest , Ytest))

 Accuracy at C :  1 0.9485714285714286
 Accuracy at C :  2 0.9485714285714286
 Accuracy at C :  3 0.9485714285714286
 Accuracy at C :  4 0.9485714285714286
 Accuracy at C :  5 0.9485714285714286
 Accuracy at C :  6 0.9485714285714286
 Accuracy at C :  7 0.9485714285714286
 Accuracy at C :  8 0.9485714285714286
 Accuracy at C :  9 0.9485714285714286
 Accuracy at C :  10 0.9485714285714286

Rbf also had no improvement from 94.8